
/*Página principal*/
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap')

/*Título animación*/
@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);


html, body { height: 100%; }
body { display: flex; justify-content: center; align-items: center; margin:20px 0; text-align:center; background:beige; overflow:hidden; }

h1 {
 font-size:5em;
 font:bold 7.5vw/1.6 'Signika', sans-serif;
 user-select:none;

}

h1 span { display:inline-block; animation:float .2s ease-in-out infinite; }
 @keyframes float {
  0%,100%{ transform:none; }
  33%{ transform:translateY(-1px) rotate(-2deg); }
  66%{ transform:translateY(1px) rotate(2deg); }
 
}
body:hover span { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

.header .navbar {
  background-color: transparent !important;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
} 
span:nth-child(4n) { color: #df1c9e; text-shadow:1px 1px #090a0a, 2px 2px hsl(320, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
span:nth-child(4n-1) { color:#df1c9e; text-shadow:1px 1px #0b0c0b, 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
span:nth-child(4n-2) { color:#df1c9e; text-shadow:1px 1px #0b0c0b 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
span:nth-child(4n-3) { color:#df1c9e; text-shadow:1px 1px #0b0c0b, 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }

h1 span:nth-child(2){ animation-delay:.05s; }
h1 span:nth-child(3){ animation-delay:.1s; }
h1 span:nth-child(4){ animation-delay:.15s; }
h1 span:nth-child(5){ animation-delay:.2s; }
h1 span:nth-child(6){ animation-delay:.25s; }
h1 span:nth-child(7){ animation-delay:.3s; }
h1 span:nth-child(8){ animation-delay:.35s; }
h1 span:nth-child(9){ animation-delay:.4s; }
h1 span:nth-child(10){ animation-delay:.45s; }
h1 span:nth-child(11){ animation-delay:.5s; }
h1 span:nth-child(12){ animation-delay:.55s; }
h1 span:nth-child(13){ animation-delay:.6s; }
h1 span:nth-child(14){ animation-delay:.65s; }

/*redes sociales*/
.sociales {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 4%;
  align-items: center;
  
}

.socicon {
  width: 5rem;
  height: 5rem;

}


/*botón CV*/
.btn btn-warning{
  font-family: 'Montserrat Alternates', sans-serif;
  transition: all 0.4s ease-in-out;
  box-shadow: 2px 2px 5px white;

}

.btn text{
color: #1a1618
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*Sobre Mí*/

.dana {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.img-thumbnail {
  display: flex;
  height: 30%;
  width: 40%;
  align-items: center;
  border-color:#df1c9e;
  border-bottom: 10pt;
  border-radius: 50%;
 
    gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
 
}

.bio {
  display: flex;
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px rgb(0, 0, 0);;
  background-color:#df1c9e;
}



.bio h1 {
 
font-family: 'Montserrat Alternates', sans-serif;
font-size: larger;
color: #e95d5b;
}

.bio-texto{
font-family: 'Montserrat Alternates', sans-serif;
}
.bio p {
  line-height:20px;
  padding: 0.3rem 0;
}

/*Herramientas*/


/*está interno el css porque así sí salió :c */

/*Proyectos*/



.carousel-caption {
    position: absolute; 
    right: 15%;
    top: 125px; 
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #0a0808;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5); /* Añadir para conseguir el fondo con opacidad */
}
/*esta internado el css*/


/*Contáctame*/


/*footer*/

.footer{
  background-color:#fdd6e338;
  padding: 1 em 0;
  text-align: center;
  margin: 1rem 0 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
    padding: 1em 0;
margin-top: auto;
}

.copy {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: smaller;
}



. {
  color: #afad8b;
}